%h1 Create an Integration

- form_for @integration do |f|
  %div.field
    =f.label :name, 'Name:'
    =f.text_field :name
    =f.errors :name
  -fields_for @integration.source_repository do |source_repository_form|
    %div.field
      =source_repository_form.label :path, 'Source Repository Path:'
      =source_repository_form.text_field :path
      =source_repository_form.errors :path
  %div.buttons
    =f.submit 'Create Integration'
