%h1 Create an Integration

- form_for @integration do |f|
  %div.field
    =f.label :name, 'Name:'
    =f.text_field :name
    =f.errors :name
  %div.field
    =f.label :repository, 'Source Repository Path:'
    =f.text_field :repository
    =f.errors :repository
  %div.field
    =f.label :prebuild_command, 'Prebuild Command:'
    =f.text_area :prebuild_command
    =f.errors :prebuild_command
  %div.field
    =f.label :build_command, 'Prebuild Command:'
    =f.text_area :build_command
    =f.errors :build_command
  %div.buttons
    =f.submit 'Create Integration'
    =link_to 'Cancel', root_url
