%h1 Create an Integration

- form_for @integration do |f|
  %div.field
    =f.label :name, 'Name:'
    =f.text_field :name
    =f.errors :name
  %div.field
    =f.label :repository, 'Source Repository Path:'
    =f.text_field :repository
    =f.errors :repository
  %div.buttons
    =f.submit 'Create Integration'
    =link_to 'Cancel', root_url
